{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientConstructors", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-04-20",
    "asyncClient" : "AmazonBedrockAsyncClient",
    "asyncClientBuilderClassName" : "AmazonBedrockAsyncClientBuilder",
    "asyncInterface" : "AmazonBedrockAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonBedrockModuleInjector",
    "defaultEndpoint" : "bedrock.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bedrock.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Describes the API operations for creating and managing Bedrock models.</p>",
    "endpointPrefix" : "bedrock",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bedrock",
    "packagePath" : "com/amazonaws/services/bedrock",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Bedrock",
    "serviceId" : "Bedrock",
    "serviceName" : "Amazon Bedrock",
    "signingName" : "bedrock",
    "smokeTestsPackageName" : "com.amazonaws.services.bedrock.smoketests",
    "syncClient" : "AmazonBedrockClient",
    "syncClientBuilderClassName" : "AmazonBedrockClientBuilder",
    "syncInterface" : "AmazonBedrock",
    "uid" : "bedrock-2023-04-20",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateModelCustomizationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateModelCustomizationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateModelCustomizationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateModelCustomizationJobRequest, CreateModelCustomizationJobResult>",
      "asyncReturnType" : "CreateModelCustomizationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a fine-tuning job to customize a base model.</p> <p>You specify the base foundation model and the location of the training data. After the model-customization job completes successfully, your custom model resource will be ready to use. Training data contains input and output text for each record in a JSONL format. Optionally, you can specify validation data in the same format as the training data. Bedrock returns validation loss metrics and output generations after the job completes. </p> <p> Model-customization jobs are asynchronous and the completion time depends on the base model and the training/validation data size. To monitor a job, use the <code>GetModelCustomizationJob</code> operation to retrieve the job status.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateModelCustomizationJobRequest",
        "variableName" : "createModelCustomizationJobRequest",
        "variableType" : "CreateModelCustomizationJobRequest",
        "documentation" : "",
        "simpleType" : "CreateModelCustomizationJobRequest",
        "variableSetterType" : "CreateModelCustomizationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createModelCustomizationJob",
      "operationName" : "CreateModelCustomizationJob",
      "returnType" : {
        "returnType" : "CreateModelCustomizationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateModelCustomizationJobResult"
    },
    "CreateProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateProvisionedModelThroughputRequest, CreateProvisionedModelThroughputResult>",
      "asyncReturnType" : "CreateProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a provisioned throughput with dedicated capacity for a foundation model or a fine-tuned model.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateProvisionedModelThroughputRequest",
        "variableName" : "createProvisionedModelThroughputRequest",
        "variableType" : "CreateProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "CreateProvisionedModelThroughputRequest",
        "variableSetterType" : "CreateProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createProvisionedModelThroughput",
      "operationName" : "CreateProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "CreateProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateProvisionedModelThroughputResult"
    },
    "DeleteCustomModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCustomModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCustomModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCustomModelRequest, DeleteCustomModelResult>",
      "asyncReturnType" : "DeleteCustomModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a custom model that you created earlier. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCustomModelRequest",
        "variableName" : "deleteCustomModelRequest",
        "variableType" : "DeleteCustomModelRequest",
        "documentation" : "",
        "simpleType" : "DeleteCustomModelRequest",
        "variableSetterType" : "DeleteCustomModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCustomModel",
      "operationName" : "DeleteCustomModel",
      "returnType" : {
        "returnType" : "DeleteCustomModelResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCustomModelResult"
    },
    "DeleteModelInvocationLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteModelInvocationLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteModelInvocationLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteModelInvocationLoggingConfigurationRequest, DeleteModelInvocationLoggingConfigurationResult>",
      "asyncReturnType" : "DeleteModelInvocationLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete the invocation logging. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteModelInvocationLoggingConfigurationRequest",
        "variableName" : "deleteModelInvocationLoggingConfigurationRequest",
        "variableType" : "DeleteModelInvocationLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "DeleteModelInvocationLoggingConfigurationRequest",
        "variableSetterType" : "DeleteModelInvocationLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteModelInvocationLoggingConfiguration",
      "operationName" : "DeleteModelInvocationLoggingConfiguration",
      "returnType" : {
        "returnType" : "DeleteModelInvocationLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteModelInvocationLoggingConfigurationResult"
    },
    "DeleteProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteProvisionedModelThroughputRequest, DeleteProvisionedModelThroughputResult>",
      "asyncReturnType" : "DeleteProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a provisioned throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteProvisionedModelThroughputRequest",
        "variableName" : "deleteProvisionedModelThroughputRequest",
        "variableType" : "DeleteProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "DeleteProvisionedModelThroughputRequest",
        "variableSetterType" : "DeleteProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteProvisionedModelThroughput",
      "operationName" : "DeleteProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "DeleteProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteProvisionedModelThroughputResult"
    },
    "GetCustomModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCustomModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCustomModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCustomModelRequest, GetCustomModelResult>",
      "asyncReturnType" : "GetCustomModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the properties associated with a Bedrock custom model that you have created.For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCustomModelRequest",
        "variableName" : "getCustomModelRequest",
        "variableType" : "GetCustomModelRequest",
        "documentation" : "",
        "simpleType" : "GetCustomModelRequest",
        "variableSetterType" : "GetCustomModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCustomModel",
      "operationName" : "GetCustomModel",
      "returnType" : {
        "returnType" : "GetCustomModelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCustomModelResult"
    },
    "GetFoundationModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetFoundationModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetFoundationModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetFoundationModelRequest, GetFoundationModelResult>",
      "asyncReturnType" : "GetFoundationModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get details about a Bedrock foundation model.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetFoundationModelRequest",
        "variableName" : "getFoundationModelRequest",
        "variableType" : "GetFoundationModelRequest",
        "documentation" : "",
        "simpleType" : "GetFoundationModelRequest",
        "variableSetterType" : "GetFoundationModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getFoundationModel",
      "operationName" : "GetFoundationModel",
      "returnType" : {
        "returnType" : "GetFoundationModelResult",
        "documentation" : null
      },
      "syncReturnType" : "GetFoundationModelResult"
    },
    "GetModelCustomizationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelCustomizationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelCustomizationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelCustomizationJobRequest, GetModelCustomizationJobResult>",
      "asyncReturnType" : "GetModelCustomizationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the properties associated with a model-customization job, including the status of the job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelCustomizationJobRequest",
        "variableName" : "getModelCustomizationJobRequest",
        "variableType" : "GetModelCustomizationJobRequest",
        "documentation" : "",
        "simpleType" : "GetModelCustomizationJobRequest",
        "variableSetterType" : "GetModelCustomizationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModelCustomizationJob",
      "operationName" : "GetModelCustomizationJob",
      "returnType" : {
        "returnType" : "GetModelCustomizationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetModelCustomizationJobResult"
    },
    "GetModelInvocationLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetModelInvocationLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetModelInvocationLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetModelInvocationLoggingConfigurationRequest, GetModelInvocationLoggingConfigurationResult>",
      "asyncReturnType" : "GetModelInvocationLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get the current configuration values for model invocation logging.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetModelInvocationLoggingConfigurationRequest",
        "variableName" : "getModelInvocationLoggingConfigurationRequest",
        "variableType" : "GetModelInvocationLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "GetModelInvocationLoggingConfigurationRequest",
        "variableSetterType" : "GetModelInvocationLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getModelInvocationLoggingConfiguration",
      "operationName" : "GetModelInvocationLoggingConfiguration",
      "returnType" : {
        "returnType" : "GetModelInvocationLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetModelInvocationLoggingConfigurationResult"
    },
    "GetProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProvisionedModelThroughputRequest, GetProvisionedModelThroughputResult>",
      "asyncReturnType" : "GetProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get details for a provisioned throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProvisionedModelThroughputRequest",
        "variableName" : "getProvisionedModelThroughputRequest",
        "variableType" : "GetProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "GetProvisionedModelThroughputRequest",
        "variableSetterType" : "GetProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProvisionedModelThroughput",
      "operationName" : "GetProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "GetProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProvisionedModelThroughputResult"
    },
    "ListCustomModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCustomModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCustomModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCustomModelsRequest, ListCustomModelsResult>",
      "asyncReturnType" : "ListCustomModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of the custom models that you have created with the <code>CreateModelCustomizationJob</code> operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCustomModelsRequest",
        "variableName" : "listCustomModelsRequest",
        "variableType" : "ListCustomModelsRequest",
        "documentation" : "",
        "simpleType" : "ListCustomModelsRequest",
        "variableSetterType" : "ListCustomModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCustomModels",
      "operationName" : "ListCustomModels",
      "returnType" : {
        "returnType" : "ListCustomModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCustomModelsResult"
    },
    "ListFoundationModels" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListFoundationModelsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListFoundationModelsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListFoundationModelsRequest, ListFoundationModelsResult>",
      "asyncReturnType" : "ListFoundationModelsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List of Bedrock foundation models that you can use. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/foundation-models.html\">Foundation models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListFoundationModelsRequest",
        "variableName" : "listFoundationModelsRequest",
        "variableType" : "ListFoundationModelsRequest",
        "documentation" : "",
        "simpleType" : "ListFoundationModelsRequest",
        "variableSetterType" : "ListFoundationModelsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listFoundationModels",
      "operationName" : "ListFoundationModels",
      "returnType" : {
        "returnType" : "ListFoundationModelsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListFoundationModelsResult"
    },
    "ListModelCustomizationJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListModelCustomizationJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListModelCustomizationJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListModelCustomizationJobsRequest, ListModelCustomizationJobsResult>",
      "asyncReturnType" : "ListModelCustomizationJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of model customization jobs that you have submitted. You can filter the jobs to return based on one or more criteria.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListModelCustomizationJobsRequest",
        "variableName" : "listModelCustomizationJobsRequest",
        "variableType" : "ListModelCustomizationJobsRequest",
        "documentation" : "",
        "simpleType" : "ListModelCustomizationJobsRequest",
        "variableSetterType" : "ListModelCustomizationJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listModelCustomizationJobs",
      "operationName" : "ListModelCustomizationJobs",
      "returnType" : {
        "returnType" : "ListModelCustomizationJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListModelCustomizationJobsResult"
    },
    "ListProvisionedModelThroughputs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProvisionedModelThroughputsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProvisionedModelThroughputsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProvisionedModelThroughputsRequest, ListProvisionedModelThroughputsResult>",
      "asyncReturnType" : "ListProvisionedModelThroughputsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the provisioned capacities. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProvisionedModelThroughputsRequest",
        "variableName" : "listProvisionedModelThroughputsRequest",
        "variableType" : "ListProvisionedModelThroughputsRequest",
        "documentation" : "",
        "simpleType" : "ListProvisionedModelThroughputsRequest",
        "variableSetterType" : "ListProvisionedModelThroughputsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProvisionedModelThroughputs",
      "operationName" : "ListProvisionedModelThroughputs",
      "returnType" : {
        "returnType" : "ListProvisionedModelThroughputsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProvisionedModelThroughputsResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List the tags associated with the specified resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PutModelInvocationLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutModelInvocationLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutModelInvocationLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutModelInvocationLoggingConfigurationRequest, PutModelInvocationLoggingConfigurationResult>",
      "asyncReturnType" : "PutModelInvocationLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Set the configuration values for model invocation logging.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutModelInvocationLoggingConfigurationRequest",
        "variableName" : "putModelInvocationLoggingConfigurationRequest",
        "variableType" : "PutModelInvocationLoggingConfigurationRequest",
        "documentation" : "",
        "simpleType" : "PutModelInvocationLoggingConfigurationRequest",
        "variableSetterType" : "PutModelInvocationLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putModelInvocationLoggingConfiguration",
      "operationName" : "PutModelInvocationLoggingConfiguration",
      "returnType" : {
        "returnType" : "PutModelInvocationLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "PutModelInvocationLoggingConfigurationResult"
    },
    "StopModelCustomizationJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopModelCustomizationJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopModelCustomizationJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopModelCustomizationJobRequest, StopModelCustomizationJobResult>",
      "asyncReturnType" : "StopModelCustomizationJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops an active model customization job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopModelCustomizationJobRequest",
        "variableName" : "stopModelCustomizationJobRequest",
        "variableType" : "StopModelCustomizationJobRequest",
        "documentation" : "",
        "simpleType" : "StopModelCustomizationJobRequest",
        "variableSetterType" : "StopModelCustomizationJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopModelCustomizationJob",
      "operationName" : "StopModelCustomizationJob",
      "returnType" : {
        "returnType" : "StopModelCustomizationJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StopModelCustomizationJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate tags with a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "TooManyTagsException",
        "documentation" : "<p>The request contains more tags than can be associated with a resource (50 tags per resource). The maximum number of tags includes both existing tags and those included in your current request. </p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Remove one or more tags from a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateProvisionedModelThroughput" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateProvisionedModelThroughputResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateProvisionedModelThroughputResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateProvisionedModelThroughputRequest, UpdateProvisionedModelThroughputResult>",
      "asyncReturnType" : "UpdateProvisionedModelThroughputResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a provisioned throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateProvisionedModelThroughputRequest",
        "variableName" : "updateProvisionedModelThroughputRequest",
        "variableType" : "UpdateProvisionedModelThroughputRequest",
        "documentation" : "",
        "simpleType" : "UpdateProvisionedModelThroughputRequest",
        "variableSetterType" : "UpdateProvisionedModelThroughputRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateProvisionedModelThroughput",
      "operationName" : "UpdateProvisionedModelThroughput",
      "returnType" : {
        "returnType" : "UpdateProvisionedModelThroughputResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateProvisionedModelThroughputResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request is denied because of missing access permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrock.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrock.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "CloudWatchConfig" : {
      "c2jName" : "CloudWatchConfig",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>CloudWatch logging configuration.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrock.model.CloudWatchConfig",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "logGroupName",
        "c2jShape" : "LogGroupName",
        "deprecated" : false,
        "documentation" : "<p>The log group name.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The log group name.</p>\n@param logGroupName The log group name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLogGroupName",
        "getterDocumentation" : "/**<p>The log group name.</p>\n@return The log group name.*/",
        "getterMethodName" : "getLogGroupName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "logGroupName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "logGroupName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "LogGroupName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The log group name.</p>\n@param logGroupName The log group name.*/",
        "setterMethodName" : "setLogGroupName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The log group name.</p>\n@param logGroupName The log group name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "logGroupName",
          "variableType" : "String",
          "documentation" : "<p>The log group name.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "roleArn",
        "c2jShape" : "RoleArn",
        "deprecated" : false,
        "documentation" : "<p>The role ARN.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The role ARN.</p>\n@param roleArn The role ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The role ARN.</p>\n@return The role ARN.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "roleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "roleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The role ARN.</p>\n@param roleArn The role ARN.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The role ARN.</p>\n@param roleArn The role ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The role ARN.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "largeDataDeliveryS3Config",
        "c2jShape" : "S3Config",
        "deprecated" : false,
        "documentation" : "<p>S3 configuration for delivering a large amount of data.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@param largeDataDeliveryS3Config S3 configuration for delivering a large amount of data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLargeDataDeliveryS3Config",
        "getterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@return S3 configuration for delivering a large amount of data.*/",
        "getterMethodName" : "getLargeDataDeliveryS3Config",
        "getterModel" : {
          "returnType" : "S3Config",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "largeDataDeliveryS3Config",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "largeDataDeliveryS3Config",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "LargeDataDeliveryS3Config",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@param largeDataDeliveryS3Config S3 configuration for delivering a large amount of data.*/",
        "setterMethodName" : "setLargeDataDeliveryS3Config",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Config",
          "variableName" : "largeDataDeliveryS3Config",
          "variableType" : "S3Config",
          "documentation" : "",
          "simpleType" : "S3Config",
          "variableSetterType" : "S3Config"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@param largeDataDeliveryS3Config S3 configuration for delivering a large amount of data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "S3Config",
          "variableName" : "largeDataDeliveryS3Config",
          "variableType" : "S3Config",
          "documentation" : "<p>S3 configuration for delivering a large amount of data.</p>",
          "simpleType" : "S3Config",
          "variableSetterType" : "S3Config"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LargeDataDeliveryS3Config" : {
          "c2jName" : "largeDataDeliveryS3Config",
          "c2jShape" : "S3Config",
          "deprecated" : false,
          "documentation" : "<p>S3 configuration for delivering a large amount of data.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@param largeDataDeliveryS3Config S3 configuration for delivering a large amount of data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLargeDataDeliveryS3Config",
          "getterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@return S3 configuration for delivering a large amount of data.*/",
          "getterMethodName" : "getLargeDataDeliveryS3Config",
          "getterModel" : {
            "returnType" : "S3Config",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "largeDataDeliveryS3Config",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "largeDataDeliveryS3Config",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "LargeDataDeliveryS3Config",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@param largeDataDeliveryS3Config S3 configuration for delivering a large amount of data.*/",
          "setterMethodName" : "setLargeDataDeliveryS3Config",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3Config",
            "variableName" : "largeDataDeliveryS3Config",
            "variableType" : "S3Config",
            "documentation" : "",
            "simpleType" : "S3Config",
            "variableSetterType" : "S3Config"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>S3 configuration for delivering a large amount of data.</p>\n@param largeDataDeliveryS3Config S3 configuration for delivering a large amount of data.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "S3Config",
            "variableName" : "largeDataDeliveryS3Config",
            "variableType" : "S3Config",
            "documentation" : "<p>S3 configuration for delivering a large amount of data.</p>",
            "simpleType" : "S3Config",
            "variableSetterType" : "S3Config"
          },
          "xmlNameSpaceUri" : null
        },
        "LogGroupName" : {
          "c2jName" : "logGroupName",
          "c2jShape" : "LogGroupName",
          "deprecated" : false,
          "documentation" : "<p>The log group name.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The log group name.</p>\n@param logGroupName The log group name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLogGroupName",
          "getterDocumentation" : "/**<p>The log group name.</p>\n@return The log group name.*/",
          "getterMethodName" : "getLogGroupName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "logGroupName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "logGroupName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "LogGroupName",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The log group name.</p>\n@param logGroupName The log group name.*/",
          "setterMethodName" : "setLogGroupName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The log group name.</p>\n@param logGroupName The log group name.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "logGroupName",
            "variableType" : "String",
            "documentation" : "<p>The log group name.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RoleArn" : {
          "c2jName" : "roleArn",
          "c2jShape" : "RoleArn",
          "deprecated" : false,
          "documentation" : "<p>The role ARN.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The role ARN.</p>\n@param roleArn The role ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoleArn",
          "getterDocumentation" : "/**<p>The role ARN.</p>\n@return The role ARN.*/",
          "getterMethodName" : "getRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "roleArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "roleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The role ARN.</p>\n@param roleArn The role ARN.*/",
          "setterMethodName" : "setRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The role ARN.</p>\n@param roleArn The role ARN.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "<p>The role ARN.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrock.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "logGroupName", "roleArn" ],
      "shapeName" : "CloudWatchConfig",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CloudWatchConfig",
        "variableName" : "cloudWatchConfig",
        "variableType" : "CloudWatchConfig",
        "documentation" : null,
        "simpleType" : "CloudWatchConfig",
        "variableSetterType" : "CloudWatchConfig"
      },
      "wrapper" : false
    },
    "CommitmentDuration" : {
      "c2jName" : "CommitmentDuration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "OneMonth",
        "value" : "OneMonth"
      }, {
        "name" : "SixMonths",
        "value" : "SixMonths"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrock.enum.CommitmentDuration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrock.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "CommitmentDuration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CommitmentDuration",
        "variableName" : "commitmentDuration",
        "variableType" : "CommitmentDuration",
        "documentation" : null,
        "simpleType" : "CommitmentDuration",
        "variableSetterType" : "CommitmentDuration"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Error occurred because of a conflict while performing an operation.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrock.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrock.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "CreateModelCustomizationJobRequest" : {
      "c2jName" : "CreateModelCustomizationJobRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrock.request.CreateModelCustomizationJobRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "CreateModelCustomizationJob",
        "locationName" : null,
        "requestUri" : "/model-customization-jobs",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "jobName",
        "c2jShape" : "JobName",
        "deprecated" : false,
        "documentation" : "<p>Enter a unique name for the fine-tuning job.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Enter a unique name for the fine-tuning job.</p>\n@param jobName Enter a unique name for the fine-tuning job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJobName",
        "getterDocumentation" : "/**<p>Enter a unique name for the fine-tuning job.</p>\n@return Enter a unique name for the fine-tuning job.*/",
        "getterMethodName" : "getJobName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "jobName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "jobName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JobName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Enter a unique name for the fine-tuning job.</p>\n@param jobName Enter a unique name for the fine-tuning job.*/",
        "setterMethodName" : "setJobName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Enter a unique name for the fine-tuning job.</p>\n@param jobName Enter a unique name for the fine-tuning job.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "jobName",
          "variableType" : "String",
          "documentation" : "<p>Enter a unique name for the fine-tuning job.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "customModelName",
        "c2jShape" : "CustomModelName",
        "deprecated" : false,
        "documentation" : "<p>Enter a name for the custom model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Enter a name for the custom model.</p>\n@param customModelName Enter a name for the custom model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCustomModelName",
        "getterDocumentation" : "/**<p>Enter a name for the custom model.</p>\n@return Enter a name for the custom model.*/",
        "getterMethodName" : "getCustomModelName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "customModelName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "customModelName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CustomModelName",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Enter a name for the custom model.</p>\n@param customModelName Enter a name for the custom model.*/",
        "setterMethodName" : "setCustomModelName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "customModelName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Enter a name for the custom model.</p>\n@param customModelName Enter a name for the custom model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "customModelName",
          "variableType" : "String",
          "documentation" : "<p>Enter a name for the custom model.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "roleArn",
        "c2jShape" : "RoleArn",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission. </p>\n@param roleArn The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission. </p>\n@return The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission.*/",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "roleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "roleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission. </p>\n@param roleArn The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission.*/",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission. </p>\n@param roleArn The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf. For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket. To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission. </p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "clientRequestToken",
        "c2jShape" : "IdempotencyToken",
        "deprecated" : false,
        "documentation" : "<p>Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.</p>\n@param clientRequestToken Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withClientRequestToken",
        "getterDocumentation" : "/**<p>Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.</p>\n@return Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.*/",
        "getterMethodName" : "getClientRequestToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "clientRequestToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "clientRequestToken",
          "uri" : false
        },
        "idempotencyToken" : true,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ClientRequestToken",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.</p>\n@param clientRequestToken Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.*/",
        "setterMethodName" : "setClientRequestToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.</p>\n@param clientRequestToken Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "clientRequestToken",
          "variableType" : "String",
          "documentation" : "<p>Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "baseModelIdentifier",
        "c2jShape" : "BaseModelIdentifier",
        "deprecated" : false,
        "documentation" : "<p>Name of the base model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Name of the base model.</p>\n@param baseModelIdentifier Name of the base model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
[...]
