{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-02-17",
    "asyncClient" : "AWSCleanRoomsAsyncClient",
    "asyncClientBuilderClassName" : "AWSCleanRoomsAsyncClientBuilder",
    "asyncInterface" : "AWSCleanRoomsAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSCleanRoomsModuleInjector",
    "defaultEndpoint" : "cleanrooms.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cleanrooms.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Welcome to the <i>Clean Rooms API Reference</i>.</p> <p>Clean Rooms is an Amazon Web Services service that helps multiple parties to join their data together in a secure collaboration workspace. In the collaboration, members who can query and receive results can get insights into the collective datasets without either party getting access to the other party's raw data.</p> <p>To learn more about Clean Rooms concepts, procedures, and best practices, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/what-is.html\">Clean Rooms User Guide</a>.</p> <p>To learn more about SQL commands, functions, and conditions supported in Clean Rooms, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/sql-reference/sql-reference.html\">Clean Rooms SQL Reference</a>.</p>",
    "endpointPrefix" : "cleanrooms",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cleanrooms",
    "packagePath" : "com/amazonaws/services/cleanrooms",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Clean Rooms Service",
    "serviceId" : "CleanRooms",
    "serviceName" : "AWS Clean Rooms Service",
    "signingName" : "cleanrooms",
    "smokeTestsPackageName" : "com.amazonaws.services.cleanrooms.smoketests",
    "syncClient" : "AWSCleanRoomsClient",
    "syncClientBuilderClassName" : "AWSCleanRoomsClientBuilder",
    "syncInterface" : "AWSCleanRooms",
    "uid" : "cleanrooms-2022-02-17",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchGetCollaborationAnalysisTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetCollaborationAnalysisTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetCollaborationAnalysisTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetCollaborationAnalysisTemplateRequest, BatchGetCollaborationAnalysisTemplateResult>",
      "asyncReturnType" : "BatchGetCollaborationAnalysisTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves multiple analysis templates within a collaboration by their Amazon Resource Names (ARNs).</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetCollaborationAnalysisTemplateRequest",
        "variableName" : "batchGetCollaborationAnalysisTemplateRequest",
        "variableType" : "BatchGetCollaborationAnalysisTemplateRequest",
        "documentation" : "",
        "simpleType" : "BatchGetCollaborationAnalysisTemplateRequest",
        "variableSetterType" : "BatchGetCollaborationAnalysisTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetCollaborationAnalysisTemplate",
      "operationName" : "BatchGetCollaborationAnalysisTemplate",
      "returnType" : {
        "returnType" : "BatchGetCollaborationAnalysisTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetCollaborationAnalysisTemplateResult"
    },
    "BatchGetSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGetSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGetSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGetSchemaRequest, BatchGetSchemaResult>",
      "asyncReturnType" : "BatchGetSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves multiple schemas by their identifiers.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGetSchemaRequest",
        "variableName" : "batchGetSchemaRequest",
        "variableType" : "BatchGetSchemaRequest",
        "documentation" : "",
        "simpleType" : "BatchGetSchemaRequest",
        "variableSetterType" : "BatchGetSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGetSchema",
      "operationName" : "BatchGetSchema",
      "returnType" : {
        "returnType" : "BatchGetSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGetSchemaResult"
    },
    "CreateAnalysisTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAnalysisTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAnalysisTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAnalysisTemplateRequest, CreateAnalysisTemplateResult>",
      "asyncReturnType" : "CreateAnalysisTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new analysis template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request denied because service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAnalysisTemplateRequest",
        "variableName" : "createAnalysisTemplateRequest",
        "variableType" : "CreateAnalysisTemplateRequest",
        "documentation" : "",
        "simpleType" : "CreateAnalysisTemplateRequest",
        "variableSetterType" : "CreateAnalysisTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAnalysisTemplate",
      "operationName" : "CreateAnalysisTemplate",
      "returnType" : {
        "returnType" : "CreateAnalysisTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAnalysisTemplateResult"
    },
    "CreateCollaboration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateCollaborationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateCollaborationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateCollaborationRequest, CreateCollaborationResult>",
      "asyncReturnType" : "CreateCollaborationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request denied because service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateCollaborationRequest",
        "variableName" : "createCollaborationRequest",
        "variableType" : "CreateCollaborationRequest",
        "documentation" : "",
        "simpleType" : "CreateCollaborationRequest",
        "variableSetterType" : "CreateCollaborationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createCollaboration",
      "operationName" : "CreateCollaboration",
      "returnType" : {
        "returnType" : "CreateCollaborationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateCollaborationResult"
    },
    "CreateConfiguredTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfiguredTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfiguredTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfiguredTableRequest, CreateConfiguredTableResult>",
      "asyncReturnType" : "CreateConfiguredTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new configured table resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request denied because service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfiguredTableRequest",
        "variableName" : "createConfiguredTableRequest",
        "variableType" : "CreateConfiguredTableRequest",
        "documentation" : "",
        "simpleType" : "CreateConfiguredTableRequest",
        "variableSetterType" : "CreateConfiguredTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguredTable",
      "operationName" : "CreateConfiguredTable",
      "returnType" : {
        "returnType" : "CreateConfiguredTableResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConfiguredTableResult"
    },
    "CreateConfiguredTableAnalysisRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfiguredTableAnalysisRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfiguredTableAnalysisRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfiguredTableAnalysisRuleRequest, CreateConfiguredTableAnalysisRuleResult>",
      "asyncReturnType" : "CreateConfiguredTableAnalysisRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new analysis rule for a configured table. Currently, only one analysis rule can be created for a given configured table.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfiguredTableAnalysisRuleRequest",
        "variableName" : "createConfiguredTableAnalysisRuleRequest",
        "variableType" : "CreateConfiguredTableAnalysisRuleRequest",
        "documentation" : "",
        "simpleType" : "CreateConfiguredTableAnalysisRuleRequest",
        "variableSetterType" : "CreateConfiguredTableAnalysisRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguredTableAnalysisRule",
      "operationName" : "CreateConfiguredTableAnalysisRule",
      "returnType" : {
        "returnType" : "CreateConfiguredTableAnalysisRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConfiguredTableAnalysisRuleResult"
    },
    "CreateConfiguredTableAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateConfiguredTableAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateConfiguredTableAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateConfiguredTableAssociationRequest, CreateConfiguredTableAssociationResult>",
      "asyncReturnType" : "CreateConfiguredTableAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a configured table association. A configured table association links a configured table with a collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request denied because service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateConfiguredTableAssociationRequest",
        "variableName" : "createConfiguredTableAssociationRequest",
        "variableType" : "CreateConfiguredTableAssociationRequest",
        "documentation" : "",
        "simpleType" : "CreateConfiguredTableAssociationRequest",
        "variableSetterType" : "CreateConfiguredTableAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createConfiguredTableAssociation",
      "operationName" : "CreateConfiguredTableAssociation",
      "returnType" : {
        "returnType" : "CreateConfiguredTableAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateConfiguredTableAssociationResult"
    },
    "CreateMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMembershipRequest, CreateMembershipResult>",
      "asyncReturnType" : "CreateMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a membership for a specific collaboration identifier and joins the collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request denied because service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMembershipRequest",
        "variableName" : "createMembershipRequest",
        "variableType" : "CreateMembershipRequest",
        "documentation" : "",
        "simpleType" : "CreateMembershipRequest",
        "variableSetterType" : "CreateMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMembership",
      "operationName" : "CreateMembership",
      "returnType" : {
        "returnType" : "CreateMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMembershipResult"
    },
    "DeleteAnalysisTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAnalysisTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAnalysisTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAnalysisTemplateRequest, DeleteAnalysisTemplateResult>",
      "asyncReturnType" : "DeleteAnalysisTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an analysis template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAnalysisTemplateRequest",
        "variableName" : "deleteAnalysisTemplateRequest",
        "variableType" : "DeleteAnalysisTemplateRequest",
        "documentation" : "",
        "simpleType" : "DeleteAnalysisTemplateRequest",
        "variableSetterType" : "DeleteAnalysisTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAnalysisTemplate",
      "operationName" : "DeleteAnalysisTemplate",
      "returnType" : {
        "returnType" : "DeleteAnalysisTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAnalysisTemplateResult"
    },
    "DeleteCollaboration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteCollaborationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteCollaborationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteCollaborationRequest, DeleteCollaborationResult>",
      "asyncReturnType" : "DeleteCollaborationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a collaboration. It can only be called by the collaboration owner.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteCollaborationRequest",
        "variableName" : "deleteCollaborationRequest",
        "variableType" : "DeleteCollaborationRequest",
        "documentation" : "",
        "simpleType" : "DeleteCollaborationRequest",
        "variableSetterType" : "DeleteCollaborationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteCollaboration",
      "operationName" : "DeleteCollaboration",
      "returnType" : {
        "returnType" : "DeleteCollaborationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteCollaborationResult"
    },
    "DeleteConfiguredTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfiguredTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfiguredTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfiguredTableRequest, DeleteConfiguredTableResult>",
      "asyncReturnType" : "DeleteConfiguredTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a configured table.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfiguredTableRequest",
        "variableName" : "deleteConfiguredTableRequest",
        "variableType" : "DeleteConfiguredTableRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfiguredTableRequest",
        "variableSetterType" : "DeleteConfiguredTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfiguredTable",
      "operationName" : "DeleteConfiguredTable",
      "returnType" : {
        "returnType" : "DeleteConfiguredTableResult",
        "documentation" : "<p>The empty output for a successful deletion.</p>"
      },
      "syncReturnType" : "DeleteConfiguredTableResult"
    },
    "DeleteConfiguredTableAnalysisRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfiguredTableAnalysisRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfiguredTableAnalysisRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfiguredTableAnalysisRuleRequest, DeleteConfiguredTableAnalysisRuleResult>",
      "asyncReturnType" : "DeleteConfiguredTableAnalysisRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a configured table analysis rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfiguredTableAnalysisRuleRequest",
        "variableName" : "deleteConfiguredTableAnalysisRuleRequest",
        "variableType" : "DeleteConfiguredTableAnalysisRuleRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfiguredTableAnalysisRuleRequest",
        "variableSetterType" : "DeleteConfiguredTableAnalysisRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfiguredTableAnalysisRule",
      "operationName" : "DeleteConfiguredTableAnalysisRule",
      "returnType" : {
        "returnType" : "DeleteConfiguredTableAnalysisRuleResult",
        "documentation" : "<p>An empty response that indicates a successful delete.</p>"
      },
      "syncReturnType" : "DeleteConfiguredTableAnalysisRuleResult"
    },
    "DeleteConfiguredTableAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteConfiguredTableAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteConfiguredTableAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteConfiguredTableAssociationRequest, DeleteConfiguredTableAssociationResult>",
      "asyncReturnType" : "DeleteConfiguredTableAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a configured table association.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteConfiguredTableAssociationRequest",
        "variableName" : "deleteConfiguredTableAssociationRequest",
        "variableType" : "DeleteConfiguredTableAssociationRequest",
        "documentation" : "",
        "simpleType" : "DeleteConfiguredTableAssociationRequest",
        "variableSetterType" : "DeleteConfiguredTableAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteConfiguredTableAssociation",
      "operationName" : "DeleteConfiguredTableAssociation",
      "returnType" : {
        "returnType" : "DeleteConfiguredTableAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteConfiguredTableAssociationResult"
    },
    "DeleteMember" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMemberResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMemberResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMemberRequest, DeleteMemberResult>",
      "asyncReturnType" : "DeleteMemberResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified member from a collaboration. The removed member is placed in the Removed status and can't interact with the collaboration. The removed member's data is inaccessible to active members of the collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMemberRequest",
        "variableName" : "deleteMemberRequest",
        "variableType" : "DeleteMemberRequest",
        "documentation" : "",
        "simpleType" : "DeleteMemberRequest",
        "variableSetterType" : "DeleteMemberRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMember",
      "operationName" : "DeleteMember",
      "returnType" : {
        "returnType" : "DeleteMemberResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMemberResult"
    },
    "DeleteMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMembershipRequest, DeleteMembershipResult>",
      "asyncReturnType" : "DeleteMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a specified membership. All resources under a membership must be deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMembershipRequest",
        "variableName" : "deleteMembershipRequest",
        "variableType" : "DeleteMembershipRequest",
        "documentation" : "",
        "simpleType" : "DeleteMembershipRequest",
        "variableSetterType" : "DeleteMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMembership",
      "operationName" : "DeleteMembership",
      "returnType" : {
        "returnType" : "DeleteMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMembershipResult"
    },
    "GetAnalysisTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAnalysisTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAnalysisTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAnalysisTemplateRequest, GetAnalysisTemplateResult>",
      "asyncReturnType" : "GetAnalysisTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves an analysis template.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAnalysisTemplateRequest",
        "variableName" : "getAnalysisTemplateRequest",
        "variableType" : "GetAnalysisTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetAnalysisTemplateRequest",
        "variableSetterType" : "GetAnalysisTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAnalysisTemplate",
      "operationName" : "GetAnalysisTemplate",
      "returnType" : {
        "returnType" : "GetAnalysisTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAnalysisTemplateResult"
    },
    "GetCollaboration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCollaborationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCollaborationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCollaborationRequest, GetCollaborationResult>",
      "asyncReturnType" : "GetCollaborationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata about a collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCollaborationRequest",
        "variableName" : "getCollaborationRequest",
        "variableType" : "GetCollaborationRequest",
        "documentation" : "",
        "simpleType" : "GetCollaborationRequest",
        "variableSetterType" : "GetCollaborationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCollaboration",
      "operationName" : "GetCollaboration",
      "returnType" : {
        "returnType" : "GetCollaborationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCollaborationResult"
    },
    "GetCollaborationAnalysisTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetCollaborationAnalysisTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetCollaborationAnalysisTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetCollaborationAnalysisTemplateRequest, GetCollaborationAnalysisTemplateResult>",
      "asyncReturnType" : "GetCollaborationAnalysisTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves an analysis template within a collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetCollaborationAnalysisTemplateRequest",
        "variableName" : "getCollaborationAnalysisTemplateRequest",
        "variableType" : "GetCollaborationAnalysisTemplateRequest",
        "documentation" : "",
        "simpleType" : "GetCollaborationAnalysisTemplateRequest",
        "variableSetterType" : "GetCollaborationAnalysisTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getCollaborationAnalysisTemplate",
      "operationName" : "GetCollaborationAnalysisTemplate",
      "returnType" : {
        "returnType" : "GetCollaborationAnalysisTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "GetCollaborationAnalysisTemplateResult"
    },
    "GetConfiguredTable" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfiguredTableResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfiguredTableResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfiguredTableRequest, GetConfiguredTableResult>",
      "asyncReturnType" : "GetConfiguredTableResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a configured table.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfiguredTableRequest",
        "variableName" : "getConfiguredTableRequest",
        "variableType" : "GetConfiguredTableRequest",
        "documentation" : "",
        "simpleType" : "GetConfiguredTableRequest",
        "variableSetterType" : "GetConfiguredTableRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfiguredTable",
      "operationName" : "GetConfiguredTable",
      "returnType" : {
        "returnType" : "GetConfiguredTableResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfiguredTableResult"
    },
    "GetConfiguredTableAnalysisRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfiguredTableAnalysisRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfiguredTableAnalysisRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfiguredTableAnalysisRuleRequest, GetConfiguredTableAnalysisRuleResult>",
      "asyncReturnType" : "GetConfiguredTableAnalysisRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a configured table analysis rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfiguredTableAnalysisRuleRequest",
        "variableName" : "getConfiguredTableAnalysisRuleRequest",
        "variableType" : "GetConfiguredTableAnalysisRuleRequest",
        "documentation" : "",
        "simpleType" : "GetConfiguredTableAnalysisRuleRequest",
        "variableSetterType" : "GetConfiguredTableAnalysisRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfiguredTableAnalysisRule",
      "operationName" : "GetConfiguredTableAnalysisRule",
      "returnType" : {
        "returnType" : "GetConfiguredTableAnalysisRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfiguredTableAnalysisRuleResult"
    },
    "GetConfiguredTableAssociation" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetConfiguredTableAssociationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetConfiguredTableAssociationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetConfiguredTableAssociationRequest, GetConfiguredTableAssociationResult>",
      "asyncReturnType" : "GetConfiguredTableAssociationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a configured table association.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetConfiguredTableAssociationRequest",
        "variableName" : "getConfiguredTableAssociationRequest",
        "variableType" : "GetConfiguredTableAssociationRequest",
        "documentation" : "",
        "simpleType" : "GetConfiguredTableAssociationRequest",
        "variableSetterType" : "GetConfiguredTableAssociationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getConfiguredTableAssociation",
      "operationName" : "GetConfiguredTableAssociation",
      "returnType" : {
        "returnType" : "GetConfiguredTableAssociationResult",
        "documentation" : null
      },
      "syncReturnType" : "GetConfiguredTableAssociationResult"
    },
    "GetMembership" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMembershipResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMembershipResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMembershipRequest, GetMembershipResult>",
      "asyncReturnType" : "GetMembershipResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a specified membership for an identifier.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMembershipRequest",
        "variableName" : "getMembershipRequest",
        "variableType" : "GetMembershipRequest",
        "documentation" : "",
        "simpleType" : "GetMembershipRequest",
        "variableSetterType" : "GetMembershipRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMembership",
      "operationName" : "GetMembership",
      "returnType" : {
        "returnType" : "GetMembershipResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMembershipResult"
    },
    "GetProtectedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetProtectedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetProtectedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetProtectedQueryRequest, GetProtectedQueryResult>",
      "asyncReturnType" : "GetProtectedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns query processing metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetProtectedQueryRequest",
        "variableName" : "getProtectedQueryRequest",
        "variableType" : "GetProtectedQueryRequest",
        "documentation" : "",
        "simpleType" : "GetProtectedQueryRequest",
        "variableSetterType" : "GetProtectedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getProtectedQuery",
      "operationName" : "GetProtectedQuery",
      "returnType" : {
        "returnType" : "GetProtectedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "GetProtectedQueryResult"
    },
    "GetSchema" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSchemaResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSchemaResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSchemaRequest, GetSchemaResult>",
      "asyncReturnType" : "GetSchemaResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves the schema for a relation within a collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSchemaRequest",
        "variableName" : "getSchemaRequest",
        "variableType" : "GetSchemaRequest",
        "documentation" : "",
        "simpleType" : "GetSchemaRequest",
        "variableSetterType" : "GetSchemaRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSchema",
      "operationName" : "GetSchema",
      "returnType" : {
        "returnType" : "GetSchemaResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSchemaResult"
    },
    "GetSchemaAnalysisRule" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetSchemaAnalysisRuleResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetSchemaAnalysisRuleResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetSchemaAnalysisRuleRequest, GetSchemaAnalysisRuleResult>",
      "asyncReturnType" : "GetSchemaAnalysisRuleResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a schema analysis rule.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetSchemaAnalysisRuleRequest",
        "variableName" : "getSchemaAnalysisRuleRequest",
        "variableType" : "GetSchemaAnalysisRuleRequest",
        "documentation" : "",
        "simpleType" : "GetSchemaAnalysisRuleRequest",
        "variableSetterType" : "GetSchemaAnalysisRuleRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getSchemaAnalysisRule",
      "operationName" : "GetSchemaAnalysisRule",
      "returnType" : {
        "returnType" : "GetSchemaAnalysisRuleResult",
        "documentation" : null
      },
      "syncReturnType" : "GetSchemaAnalysisRuleResult"
    },
    "ListAnalysisTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAnalysisTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAnalysisTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAnalysisTemplatesRequest, ListAnalysisTemplatesResult>",
      "asyncReturnType" : "ListAnalysisTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists analysis templates that the caller owns.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAnalysisTemplatesRequest",
        "variableName" : "listAnalysisTemplatesRequest",
        "variableType" : "ListAnalysisTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListAnalysisTemplatesRequest",
        "variableSetterType" : "ListAnalysisTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAnalysisTemplates",
      "operationName" : "ListAnalysisTemplates",
      "returnType" : {
        "returnType" : "ListAnalysisTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAnalysisTemplatesResult"
    },
    "ListCollaborationAnalysisTemplates" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCollaborationAnalysisTemplatesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCollaborationAnalysisTemplatesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCollaborationAnalysisTemplatesRequest, ListCollaborationAnalysisTemplatesResult>",
      "asyncReturnType" : "ListCollaborationAnalysisTemplatesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists analysis templates within a collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCollaborationAnalysisTemplatesRequest",
        "variableName" : "listCollaborationAnalysisTemplatesRequest",
        "variableType" : "ListCollaborationAnalysisTemplatesRequest",
        "documentation" : "",
        "simpleType" : "ListCollaborationAnalysisTemplatesRequest",
        "variableSetterType" : "ListCollaborationAnalysisTemplatesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCollaborationAnalysisTemplates",
      "operationName" : "ListCollaborationAnalysisTemplates",
      "returnType" : {
        "returnType" : "ListCollaborationAnalysisTemplatesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCollaborationAnalysisTemplatesResult"
    },
    "ListCollaborations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListCollaborationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListCollaborationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListCollaborationsRequest, ListCollaborationsResult>",
      "asyncReturnType" : "ListCollaborationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists collaborations the caller owns, is active in, or has been invited to.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListCollaborationsRequest",
        "variableName" : "listCollaborationsRequest",
        "variableType" : "ListCollaborationsRequest",
        "documentation" : "",
        "simpleType" : "ListCollaborationsRequest",
        "variableSetterType" : "ListCollaborationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listCollaborations",
      "operationName" : "ListCollaborations",
      "returnType" : {
        "returnType" : "ListCollaborationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListCollaborationsResult"
    },
    "ListConfiguredTableAssociations" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfiguredTableAssociationsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfiguredTableAssociationsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfiguredTableAssociationsRequest, ListConfiguredTableAssociationsResult>",
      "asyncReturnType" : "ListConfiguredTableAssociationsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists configured table associations for a membership.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfiguredTableAssociationsRequest",
        "variableName" : "listConfiguredTableAssociationsRequest",
        "variableType" : "ListConfiguredTableAssociationsRequest",
        "documentation" : "",
        "simpleType" : "ListConfiguredTableAssociationsRequest",
        "variableSetterType" : "ListConfiguredTableAssociationsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfiguredTableAssociations",
      "operationName" : "ListConfiguredTableAssociations",
      "returnType" : {
        "returnType" : "ListConfiguredTableAssociationsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConfiguredTableAssociationsResult"
    },
    "ListConfiguredTables" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListConfiguredTablesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListConfiguredTablesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListConfiguredTablesRequest, ListConfiguredTablesResult>",
      "asyncReturnType" : "ListConfiguredTablesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists configured tables.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListConfiguredTablesRequest",
        "variableName" : "listConfiguredTablesRequest",
        "variableType" : "ListConfiguredTablesRequest",
        "documentation" : "",
        "simpleType" : "ListConfiguredTablesRequest",
        "variableSetterType" : "ListConfiguredTablesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listConfiguredTables",
      "operationName" : "ListConfiguredTables",
      "returnType" : {
        "returnType" : "ListConfiguredTablesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListConfiguredTablesResult"
    },
    "ListMembers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembersRequest, ListMembersResult>",
      "asyncReturnType" : "ListMembersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all members within a collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembersRequest",
        "variableName" : "listMembersRequest",
        "variableType" : "ListMembersRequest",
        "documentation" : "",
        "simpleType" : "ListMembersRequest",
        "variableSetterType" : "ListMembersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMembers",
      "operationName" : "ListMembers",
      "returnType" : {
        "returnType" : "ListMembersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembersResult"
    },
    "ListMemberships" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMembershipsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMembershipsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMembershipsRequest, ListMembershipsResult>",
      "asyncReturnType" : "ListMembershipsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all memberships resources within the caller's account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMembershipsRequest",
        "variableName" : "listMembershipsRequest",
        "variableType" : "ListMembershipsRequest",
        "documentation" : "",
        "simpleType" : "ListMembershipsRequest",
        "variableSetterType" : "ListMembershipsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMemberships",
      "operationName" : "ListMemberships",
      "returnType" : {
        "returnType" : "ListMembershipsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMembershipsResult"
    },
    "ListProtectedQueries" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListProtectedQueriesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListProtectedQueriesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListProtectedQueriesRequest, ListProtectedQueriesResult>",
      "asyncReturnType" : "ListProtectedQueriesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists protected queries, sorted by the most recent query.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListProtectedQueriesRequest",
        "variableName" : "listProtectedQueriesRequest",
        "variableType" : "ListProtectedQueriesRequest",
        "documentation" : "",
        "simpleType" : "ListProtectedQueriesRequest",
        "variableSetterType" : "ListProtectedQueriesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listProtectedQueries",
      "operationName" : "ListProtectedQueries",
      "returnType" : {
        "returnType" : "ListProtectedQueriesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListProtectedQueriesResult"
    },
    "ListSchemas" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListSchemasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListSchemasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListSchemasRequest, ListSchemasResult>",
      "asyncReturnType" : "ListSchemasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the schemas for relations within a collaboration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListSchemasRequest",
        "variableName" : "listSchemasRequest",
        "variableType" : "ListSchemasRequest",
        "documentation" : "",
        "simpleType" : "ListSchemasRequest",
        "variableSetterType" : "ListSchemasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listSchemas",
      "operationName" : "ListSchemas",
      "returnType" : {
        "returnType" : "ListSchemasResult",
        "documentation" : null
      },
      "syncReturnType" : "ListSchemasResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all of the tags that have been added to a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "StartProtectedQuery" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartProtectedQueryResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartProtectedQueryResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartProtectedQueryRequest, StartProtectedQueryResult>",
      "asyncReturnType" : "StartProtectedQueryResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a protected query that is started by Clean Rooms.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request denied because service quota has been exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartProtectedQueryRequest",
        "variableName" : "startProtectedQueryRequest",
        "variableType" : "StartProtectedQueryRequest",
        "documentation" : "",
        "simpleType" : "StartProtectedQueryRequest",
        "variableSetterType" : "StartProtectedQueryRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startProtectedQuery",
      "operationName" : "StartProtectedQuery",
      "returnType" : {
        "returnType" : "StartProtectedQueryResult",
        "documentation" : null
      },
      "syncReturnType" : "StartProtectedQueryResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tags a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes a tag or list of tags from a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAnalysisTemplate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAnalysisTemplateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAnalysisTemplateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAnalysisTemplateRequest, UpdateAnalysisTemplateResult>",
      "asyncReturnType" : "UpdateAnalysisTemplateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the analysis template metadata.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAnalysisTemplateRequest",
        "variableName" : "updateAnalysisTemplateRequest",
        "variableType" : "UpdateAnalysisTemplateRequest",
        "documentation" : "",
        "simpleType" : "UpdateAnalysisTemplateRequest",
        "variableSetterType" : "UpdateAnalysisTemplateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAnalysisTemplate",
      "operationName" : "UpdateAnalysisTemplate",
      "returnType" : {
        "returnType" : "UpdateAnalysisTemplateResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateAnalysisTemplateResult"
    },
    "UpdateCollaboration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateCollaborationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateCollaborationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateCollaborationRequest, UpdateCollaborationResult>",
      "asyncReturnType" : "UpdateCollaborationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates collaboration metadata and can only be called by the collaboration owner.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the specified constraints.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Caller does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateCollaborationRequest",
        "variableName" : "updateCollaborationRequest",
        "variableType" : "UpdateCollaborationRequest",
        "documentation" : "",
        "simpleType" : "UpdateCollaborationRequest",
        "variableSetterType" : "UpdateCollaborationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateCollaboration",
      "operationName" : "UpdateCollaboration",
      "returnType" : {
[...]
