{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-03-12",
    "asyncClient" : "AWSfinspaceAsyncClient",
    "asyncClientBuilderClassName" : "AWSfinspaceAsyncClientBuilder",
    "asyncInterface" : "AWSfinspaceAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSfinspaceModuleInjector",
    "defaultEndpoint" : "finspace.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "finspace.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The FinSpace management service provides the APIs for managing FinSpace environments.</p>",
    "endpointPrefix" : "finspace",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.finspace",
    "packagePath" : "com/amazonaws/services/finspace",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : "finspace",
    "serviceFullName" : "FinSpace User Environment Management service",
    "serviceId" : "finspace",
    "serviceName" : "finspace",
    "signingName" : "finspace",
    "smokeTestsPackageName" : "com.amazonaws.services.finspace.smoketests",
    "syncClient" : "AWSfinspaceClient",
    "syncClientBuilderClassName" : "AWSfinspaceClientBuilder",
    "syncInterface" : "AWSfinspace",
    "uid" : "finspace-2021-03-12",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateEnvironmentRequest, CreateEnvironmentResult>",
      "asyncReturnType" : "CreateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new FinSpace environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateEnvironmentRequest",
        "variableName" : "createEnvironmentRequest",
        "variableType" : "CreateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "CreateEnvironmentRequest",
        "variableSetterType" : "CreateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createEnvironment",
      "operationName" : "CreateEnvironment",
      "returnType" : {
        "returnType" : "CreateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateEnvironmentResult"
    },
    "CreateKxChangeset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKxChangesetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKxChangesetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKxChangesetRequest, CreateKxChangesetResult>",
      "asyncReturnType" : "CreateKxChangesetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a changeset for a kdb database. A changeset allows you to add and delete existing files by using an ordered list of change requests. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKxChangesetRequest",
        "variableName" : "createKxChangesetRequest",
        "variableType" : "CreateKxChangesetRequest",
        "documentation" : "",
        "simpleType" : "CreateKxChangesetRequest",
        "variableSetterType" : "CreateKxChangesetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKxChangeset",
      "operationName" : "CreateKxChangeset",
      "returnType" : {
        "returnType" : "CreateKxChangesetResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKxChangesetResult"
    },
    "CreateKxCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKxClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKxClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKxClusterRequest, CreateKxClusterResult>",
      "asyncReturnType" : "CreateKxClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new kdb cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKxClusterRequest",
        "variableName" : "createKxClusterRequest",
        "variableType" : "CreateKxClusterRequest",
        "documentation" : "",
        "simpleType" : "CreateKxClusterRequest",
        "variableSetterType" : "CreateKxClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKxCluster",
      "operationName" : "CreateKxCluster",
      "returnType" : {
        "returnType" : "CreateKxClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKxClusterResult"
    },
    "CreateKxDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKxDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKxDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKxDatabaseRequest, CreateKxDatabaseResult>",
      "asyncReturnType" : "CreateKxDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new kdb database in the environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource group already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKxDatabaseRequest",
        "variableName" : "createKxDatabaseRequest",
        "variableType" : "CreateKxDatabaseRequest",
        "documentation" : "",
        "simpleType" : "CreateKxDatabaseRequest",
        "variableSetterType" : "CreateKxDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKxDatabase",
      "operationName" : "CreateKxDatabase",
      "returnType" : {
        "returnType" : "CreateKxDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKxDatabaseResult"
    },
    "CreateKxEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKxEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKxEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKxEnvironmentRequest, CreateKxEnvironmentResult>",
      "asyncReturnType" : "CreateKxEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a managed kdb environment for the account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p> You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKxEnvironmentRequest",
        "variableName" : "createKxEnvironmentRequest",
        "variableType" : "CreateKxEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "CreateKxEnvironmentRequest",
        "variableSetterType" : "CreateKxEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKxEnvironment",
      "operationName" : "CreateKxEnvironment",
      "returnType" : {
        "returnType" : "CreateKxEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKxEnvironmentResult"
    },
    "CreateKxUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKxUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKxUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKxUserRequest, CreateKxUserResult>",
      "asyncReturnType" : "CreateKxUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a user in FinSpace kdb environment with an associated IAM role.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceAlreadyExistsException",
        "documentation" : "<p>The specified resource group already exists.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKxUserRequest",
        "variableName" : "createKxUserRequest",
        "variableType" : "CreateKxUserRequest",
        "documentation" : "",
        "simpleType" : "CreateKxUserRequest",
        "variableSetterType" : "CreateKxUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKxUser",
      "operationName" : "CreateKxUser",
      "returnType" : {
        "returnType" : "CreateKxUserResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKxUserResult"
    },
    "DeleteEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteEnvironmentRequest, DeleteEnvironmentResult>",
      "asyncReturnType" : "DeleteEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an FinSpace environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteEnvironmentRequest",
        "variableName" : "deleteEnvironmentRequest",
        "variableType" : "DeleteEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteEnvironmentRequest",
        "variableSetterType" : "DeleteEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteEnvironment",
      "operationName" : "DeleteEnvironment",
      "returnType" : {
        "returnType" : "DeleteEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteEnvironmentResult"
    },
    "DeleteKxCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKxClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKxClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKxClusterRequest, DeleteKxClusterResult>",
      "asyncReturnType" : "DeleteKxClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a kdb cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKxClusterRequest",
        "variableName" : "deleteKxClusterRequest",
        "variableType" : "DeleteKxClusterRequest",
        "documentation" : "",
        "simpleType" : "DeleteKxClusterRequest",
        "variableSetterType" : "DeleteKxClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKxCluster",
      "operationName" : "DeleteKxCluster",
      "returnType" : {
        "returnType" : "DeleteKxClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKxClusterResult"
    },
    "DeleteKxDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKxDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKxDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKxDatabaseRequest, DeleteKxDatabaseResult>",
      "asyncReturnType" : "DeleteKxDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified database and all of its associated data. This action is irreversible. You must copy any data out of the database before deleting it if the data is to be retained.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKxDatabaseRequest",
        "variableName" : "deleteKxDatabaseRequest",
        "variableType" : "DeleteKxDatabaseRequest",
        "documentation" : "",
        "simpleType" : "DeleteKxDatabaseRequest",
        "variableSetterType" : "DeleteKxDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKxDatabase",
      "operationName" : "DeleteKxDatabase",
      "returnType" : {
        "returnType" : "DeleteKxDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKxDatabaseResult"
    },
    "DeleteKxEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKxEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKxEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKxEnvironmentRequest, DeleteKxEnvironmentResult>",
      "asyncReturnType" : "DeleteKxEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the kdb environment. This action is irreversible. Deleting a kdb environment will remove all the associated data and any services running in it. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKxEnvironmentRequest",
        "variableName" : "deleteKxEnvironmentRequest",
        "variableType" : "DeleteKxEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "DeleteKxEnvironmentRequest",
        "variableSetterType" : "DeleteKxEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKxEnvironment",
      "operationName" : "DeleteKxEnvironment",
      "returnType" : {
        "returnType" : "DeleteKxEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKxEnvironmentResult"
    },
    "DeleteKxUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKxUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKxUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKxUserRequest, DeleteKxUserResult>",
      "asyncReturnType" : "DeleteKxUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a user in the specified kdb environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKxUserRequest",
        "variableName" : "deleteKxUserRequest",
        "variableType" : "DeleteKxUserRequest",
        "documentation" : "",
        "simpleType" : "DeleteKxUserRequest",
        "variableSetterType" : "DeleteKxUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKxUser",
      "operationName" : "DeleteKxUser",
      "returnType" : {
        "returnType" : "DeleteKxUserResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKxUserResult"
    },
    "GetEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEnvironmentRequest, GetEnvironmentResult>",
      "asyncReturnType" : "GetEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns the FinSpace environment object.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEnvironmentRequest",
        "variableName" : "getEnvironmentRequest",
        "variableType" : "GetEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "GetEnvironmentRequest",
        "variableSetterType" : "GetEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEnvironment",
      "operationName" : "GetEnvironment",
      "returnType" : {
        "returnType" : "GetEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEnvironmentResult"
    },
    "GetKxChangeset" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKxChangesetResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKxChangesetResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKxChangesetRequest, GetKxChangesetResult>",
      "asyncReturnType" : "GetKxChangesetResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns information about a kdb changeset.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKxChangesetRequest",
        "variableName" : "getKxChangesetRequest",
        "variableType" : "GetKxChangesetRequest",
        "documentation" : "",
        "simpleType" : "GetKxChangesetRequest",
        "variableSetterType" : "GetKxChangesetRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKxChangeset",
      "operationName" : "GetKxChangeset",
      "returnType" : {
        "returnType" : "GetKxChangesetResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKxChangesetResult"
    },
    "GetKxCluster" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKxClusterResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKxClusterResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKxClusterRequest, GetKxClusterResult>",
      "asyncReturnType" : "GetKxClusterResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about a kdb cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKxClusterRequest",
        "variableName" : "getKxClusterRequest",
        "variableType" : "GetKxClusterRequest",
        "documentation" : "",
        "simpleType" : "GetKxClusterRequest",
        "variableSetterType" : "GetKxClusterRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKxCluster",
      "operationName" : "GetKxCluster",
      "returnType" : {
        "returnType" : "GetKxClusterResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKxClusterResult"
    },
    "GetKxConnectionString" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKxConnectionStringResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKxConnectionStringResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKxConnectionStringRequest, GetKxConnectionStringResult>",
      "asyncReturnType" : "GetKxConnectionStringResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves a connection string for a user to connect to a kdb cluster. You must call this API using the same role that you have defined while creating a user. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKxConnectionStringRequest",
        "variableName" : "getKxConnectionStringRequest",
        "variableType" : "GetKxConnectionStringRequest",
        "documentation" : "",
        "simpleType" : "GetKxConnectionStringRequest",
        "variableSetterType" : "GetKxConnectionStringRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKxConnectionString",
      "operationName" : "GetKxConnectionString",
      "returnType" : {
        "returnType" : "GetKxConnectionStringResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKxConnectionStringResult"
    },
    "GetKxDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKxDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKxDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKxDatabaseRequest, GetKxDatabaseResult>",
      "asyncReturnType" : "GetKxDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns database information for the specified environment ID.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKxDatabaseRequest",
        "variableName" : "getKxDatabaseRequest",
        "variableType" : "GetKxDatabaseRequest",
        "documentation" : "",
        "simpleType" : "GetKxDatabaseRequest",
        "variableSetterType" : "GetKxDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKxDatabase",
      "operationName" : "GetKxDatabase",
      "returnType" : {
        "returnType" : "GetKxDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKxDatabaseResult"
    },
    "GetKxEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKxEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKxEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKxEnvironmentRequest, GetKxEnvironmentResult>",
      "asyncReturnType" : "GetKxEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves all the information for the specified kdb environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKxEnvironmentRequest",
        "variableName" : "getKxEnvironmentRequest",
        "variableType" : "GetKxEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "GetKxEnvironmentRequest",
        "variableSetterType" : "GetKxEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKxEnvironment",
      "operationName" : "GetKxEnvironment",
      "returnType" : {
        "returnType" : "GetKxEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKxEnvironmentResult"
    },
    "GetKxUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKxUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKxUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKxUserRequest, GetKxUserResult>",
      "asyncReturnType" : "GetKxUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieves information about the specified kdb user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKxUserRequest",
        "variableName" : "getKxUserRequest",
        "variableType" : "GetKxUserRequest",
        "documentation" : "",
        "simpleType" : "GetKxUserRequest",
        "variableSetterType" : "GetKxUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKxUser",
      "operationName" : "GetKxUser",
      "returnType" : {
        "returnType" : "GetKxUserResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKxUserResult"
    },
    "ListEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListEnvironmentsRequest, ListEnvironmentsResult>",
      "asyncReturnType" : "ListEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A list of all of your FinSpace environments.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListEnvironmentsRequest",
        "variableName" : "listEnvironmentsRequest",
        "variableType" : "ListEnvironmentsRequest",
        "documentation" : "",
        "simpleType" : "ListEnvironmentsRequest",
        "variableSetterType" : "ListEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listEnvironments",
      "operationName" : "ListEnvironments",
      "returnType" : {
        "returnType" : "ListEnvironmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListEnvironmentsResult"
    },
    "ListKxChangesets" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKxChangesetsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKxChangesetsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKxChangesetsRequest, ListKxChangesetsResult>",
      "asyncReturnType" : "ListKxChangesetsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the changesets for a database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKxChangesetsRequest",
        "variableName" : "listKxChangesetsRequest",
        "variableType" : "ListKxChangesetsRequest",
        "documentation" : "",
        "simpleType" : "ListKxChangesetsRequest",
        "variableSetterType" : "ListKxChangesetsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKxChangesets",
      "operationName" : "ListKxChangesets",
      "returnType" : {
        "returnType" : "ListKxChangesetsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKxChangesetsResult"
    },
    "ListKxClusterNodes" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKxClusterNodesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKxClusterNodesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKxClusterNodesRequest, ListKxClusterNodesResult>",
      "asyncReturnType" : "ListKxClusterNodesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the nodes in a kdb cluster.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKxClusterNodesRequest",
        "variableName" : "listKxClusterNodesRequest",
        "variableType" : "ListKxClusterNodesRequest",
        "documentation" : "",
        "simpleType" : "ListKxClusterNodesRequest",
        "variableSetterType" : "ListKxClusterNodesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKxClusterNodes",
      "operationName" : "ListKxClusterNodes",
      "returnType" : {
        "returnType" : "ListKxClusterNodesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKxClusterNodesResult"
    },
    "ListKxClusters" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKxClustersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKxClustersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKxClustersRequest, ListKxClustersResult>",
      "asyncReturnType" : "ListKxClustersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of clusters.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKxClustersRequest",
        "variableName" : "listKxClustersRequest",
        "variableType" : "ListKxClustersRequest",
        "documentation" : "",
        "simpleType" : "ListKxClustersRequest",
        "variableSetterType" : "ListKxClustersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKxClusters",
      "operationName" : "ListKxClusters",
      "returnType" : {
        "returnType" : "ListKxClustersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKxClustersResult"
    },
    "ListKxDatabases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKxDatabasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKxDatabasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKxDatabasesRequest, ListKxDatabasesResult>",
      "asyncReturnType" : "ListKxDatabasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of all the databases in the kdb environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKxDatabasesRequest",
        "variableName" : "listKxDatabasesRequest",
        "variableType" : "ListKxDatabasesRequest",
        "documentation" : "",
        "simpleType" : "ListKxDatabasesRequest",
        "variableSetterType" : "ListKxDatabasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKxDatabases",
      "operationName" : "ListKxDatabases",
      "returnType" : {
        "returnType" : "ListKxDatabasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKxDatabasesResult"
    },
    "ListKxEnvironments" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKxEnvironmentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKxEnvironmentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKxEnvironmentsRequest, ListKxEnvironmentsResult>",
      "asyncReturnType" : "ListKxEnvironmentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of kdb environments created in an account.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKxEnvironmentsRequest",
        "variableName" : "listKxEnvironmentsRequest",
        "variableType" : "ListKxEnvironmentsRequest",
        "documentation" : "",
        "simpleType" : "ListKxEnvironmentsRequest",
        "variableSetterType" : "ListKxEnvironmentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKxEnvironments",
      "operationName" : "ListKxEnvironments",
      "returnType" : {
        "returnType" : "ListKxEnvironmentsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKxEnvironmentsResult"
    },
    "ListKxUsers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKxUsersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKxUsersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKxUsersRequest, ListKxUsersResult>",
      "asyncReturnType" : "ListKxUsersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the users in a kdb environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKxUsersRequest",
        "variableName" : "listKxUsersRequest",
        "variableType" : "ListKxUsersRequest",
        "documentation" : "",
        "simpleType" : "ListKxUsersRequest",
        "variableSetterType" : "ListKxUsersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKxUsers",
      "operationName" : "ListKxUsers",
      "returnType" : {
        "returnType" : "ListKxUsersResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKxUsersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>A list of all tags for a resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid. Something is wrong with the input to the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Adds metadata tags to a FinSpace resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid. Something is wrong with the input to the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes metadata tags from a FinSpace resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "InvalidRequestException",
        "documentation" : "<p>The request is invalid. Something is wrong with the input to the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateEnvironmentRequest, UpdateEnvironmentResult>",
      "asyncReturnType" : "UpdateEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update your FinSpace environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateEnvironmentRequest",
        "variableName" : "updateEnvironmentRequest",
        "variableType" : "UpdateEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "UpdateEnvironmentRequest",
        "variableSetterType" : "UpdateEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateEnvironment",
      "operationName" : "UpdateEnvironment",
      "returnType" : {
        "returnType" : "UpdateEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateEnvironmentResult"
    },
    "UpdateKxClusterCodeConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKxClusterCodeConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKxClusterCodeConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKxClusterCodeConfigurationRequest, UpdateKxClusterCodeConfigurationResult>",
      "asyncReturnType" : "UpdateKxClusterCodeConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Allows you to update code configuration on a running cluster. By using this API you can update the code, the initialization script path, and the command line arguments for a specific cluster. The configuration that you want to update will override any existing configurations on the cluster. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKxClusterCodeConfigurationRequest",
        "variableName" : "updateKxClusterCodeConfigurationRequest",
        "variableType" : "UpdateKxClusterCodeConfigurationRequest",
        "documentation" : "",
        "simpleType" : "UpdateKxClusterCodeConfigurationRequest",
        "variableSetterType" : "UpdateKxClusterCodeConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKxClusterCodeConfiguration",
      "operationName" : "UpdateKxClusterCodeConfiguration",
      "returnType" : {
        "returnType" : "UpdateKxClusterCodeConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateKxClusterCodeConfigurationResult"
    },
    "UpdateKxClusterDatabases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKxClusterDatabasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKxClusterDatabasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKxClusterDatabasesRequest, UpdateKxClusterDatabasesResult>",
      "asyncReturnType" : "UpdateKxClusterDatabasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the databases mounted on a kdb cluster, which includes the <code>changesetId</code> and all the dbPaths to be cached. This API does not allow you to change a database name or add a database if you created a cluster without one. </p> <p>Using this API you can point a cluster to a different changeset and modify a list of partitions being cached.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKxClusterDatabasesRequest",
        "variableName" : "updateKxClusterDatabasesRequest",
        "variableType" : "UpdateKxClusterDatabasesRequest",
        "documentation" : "",
        "simpleType" : "UpdateKxClusterDatabasesRequest",
        "variableSetterType" : "UpdateKxClusterDatabasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKxClusterDatabases",
      "operationName" : "UpdateKxClusterDatabases",
      "returnType" : {
        "returnType" : "UpdateKxClusterDatabasesResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateKxClusterDatabasesResult"
    },
    "UpdateKxDatabase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKxDatabaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKxDatabaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKxDatabaseRequest, UpdateKxDatabaseResult>",
      "asyncReturnType" : "UpdateKxDatabaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates information for the given kdb database.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKxDatabaseRequest",
        "variableName" : "updateKxDatabaseRequest",
        "variableType" : "UpdateKxDatabaseRequest",
        "documentation" : "",
        "simpleType" : "UpdateKxDatabaseRequest",
        "variableSetterType" : "UpdateKxDatabaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKxDatabase",
      "operationName" : "UpdateKxDatabase",
      "returnType" : {
        "returnType" : "UpdateKxDatabaseResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateKxDatabaseResult"
    },
    "UpdateKxEnvironment" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKxEnvironmentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKxEnvironmentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKxEnvironmentRequest, UpdateKxEnvironmentResult>",
      "asyncReturnType" : "UpdateKxEnvironmentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates information for the given kdb environment.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKxEnvironmentRequest",
        "variableName" : "updateKxEnvironmentRequest",
        "variableType" : "UpdateKxEnvironmentRequest",
        "documentation" : "",
        "simpleType" : "UpdateKxEnvironmentRequest",
        "variableSetterType" : "UpdateKxEnvironmentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKxEnvironment",
      "operationName" : "UpdateKxEnvironment",
      "returnType" : {
        "returnType" : "UpdateKxEnvironmentResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateKxEnvironmentResult"
    },
    "UpdateKxEnvironmentNetwork" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKxEnvironmentNetworkResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKxEnvironmentNetworkResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKxEnvironmentNetworkRequest, UpdateKxEnvironmentNetworkResult>",
      "asyncReturnType" : "UpdateKxEnvironmentNetworkResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates environment network to connect to your internal network by using a transit gateway. This API supports request to create a transit gateway attachment from FinSpace VPC to your transit gateway ID and create a custom Route-53 outbound resolvers.</p> <p>Once you send a request to update a network, you cannot change it again. Network update might require termination of any clusters that are running in the existing network.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKxEnvironmentNetworkRequest",
        "variableName" : "updateKxEnvironmentNetworkRequest",
        "variableType" : "UpdateKxEnvironmentNetworkRequest",
        "documentation" : "",
        "simpleType" : "UpdateKxEnvironmentNetworkRequest",
        "variableSetterType" : "UpdateKxEnvironmentNetworkRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKxEnvironmentNetwork",
      "operationName" : "UpdateKxEnvironmentNetwork",
      "returnType" : {
        "returnType" : "UpdateKxEnvironmentNetworkResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateKxEnvironmentNetworkResult"
    },
    "UpdateKxUser" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKxUserResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKxUserResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKxUserRequest, UpdateKxUserResult>",
      "asyncReturnType" : "UpdateKxUserResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates the user details. You can only update the IAM role associated with a user.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>One or more resources can't be found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>A service limit or quota is exceeded.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>There was a conflict with this action, and it could not be completed.</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKxUserRequest",
        "variableName" : "updateKxUserRequest",
        "variableType" : "UpdateKxUserRequest",
        "documentation" : "",
        "simpleType" : "UpdateKxUserRequest",
        "variableSetterType" : "UpdateKxUserRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKxUser",
      "operationName" : "UpdateKxUser",
      "returnType" : {
        "returnType" : "UpdateKxUserResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateKxUserResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>You do not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.finspace.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.finspace.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AutoScalingConfiguration" : {
      "c2jName" : "AutoScalingConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration based on which FinSpace will scale in or scale out nodes in your cluster. </p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.finspace.model.AutoScalingConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "minNodeCount",
        "c2jShape" : "NodeCount",
        "deprecated" : false,
        "documentation" : "<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>\n@param minNodeCount The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMinNodeCount",
        "getterDocumentation" : "/**<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>\n@return The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.*/",
        "getterMethodName" : "getMinNodeCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "minNodeCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "minNodeCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MinNodeCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>\n@param minNodeCount The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.*/",
        "setterMethodName" : "setMinNodeCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minNodeCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>\n@param minNodeCount The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "minNodeCount",
          "variableType" : "Integer",
          "documentation" : "<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "maxNodeCount",
        "c2jShape" : "NodeCount",
        "deprecated" : false,
        "documentation" : "<p>The highest number of nodes to scale. This value cannot be greater than 5.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The highest number of nodes to scale. This value cannot be greater than 5.</p>\n@param maxNodeCount The highest number of nodes to scale. This value cannot be greater than 5.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMaxNodeCount",
        "getterDocumentation" : "/**<p>The highest number of nodes to scale. This value cannot be greater than 5.</p>\n@return The highest number of nodes to scale. This value cannot be greater than 5.*/",
        "getterMethodName" : "getMaxNodeCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "maxNodeCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "maxNodeCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "MaxNodeCount",
        "sensitive" : false,
[...]
